<template name="aboutIv">
       <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">about<span class="highlight"> US</span></h2>
            <p class="intro">You can reach our front desk at (805) 968­8952 and one of our friendly team members will be 
happy to assist you in setting up an appointment that works best for your schedule. </p>
            <div class="btns">
               <a class="btn btn-cta-secondary" href="{{pathFor 'booking'}}"><i class="fa fa-pencil"></i> BOOK NOW</a>
                <a class="btn btn-cta-primary" href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/" target="_blank"><i class="fa fa-clock-o"></i> HOURS</a>
            </div>
            <ul class="meta list-inline">
                <li><a href="#" target="_blank">WHAT WE DO</a></li>
                <li><a href="{{pathFor 'suggest'}}">SUGGEST A STYLE</a></li>
                <li> <a href="http://themes.3rdwavemedia.com/" target="_blank">KATHERINE PEPE</a> <i class="fa fa-scissors"></i></li>
            </ul><!--//meta-->
        </div><!--//container-->
       <div class="social-media">
            <div class="social-media-inner container text-center">
               <h1 style="color:#fff" class="text-center">The story of this establishment begins back in 1979</h1>
            </div>
        </div>
    </section>
 <section >
        <div class="container">
            <div class="row">
           
         
           <ul class="timeline">
        <li>
          <div class="timeline-badge" style="font-size: 13px;">1979</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">John Opens the shop</h4>
             
            </div>
            <div class="timeline-body">
                 <p><img  src="/jes.jpg" class="img-responsive"></p>
              <p>John opened the shop as John Edwards 
Salon back in 1979. The salon was located above the Bagel Cafe but after 17 years at that 
location, he moved over to 6529 Trigo and has continued to stay open for over 35 years! </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge" style="font-size: 13px;">Year</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Some text</h4>
            </div>
            <div class="timeline-body">
              <p>dfsadsadsad</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge" style="font-size: 13px;">Year</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Some title</h4>
            </div>
            <div class="timeline-body">
              <p></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Title</h4>
            </div>
            <div class="timeline-body">
             <p>On October 1st, 2014 he sold the salon to Katherine, a longtime stylist there who has 
renamed it to Isla Vista Hair Company. There are a lot of changes and additions coming along 
with this new chapter, but the same great quality of service will always remain. The staff at IV Hair Co are excited about doing your hair! We are here to help you with all of your hair 
questions, requests, and concerns. Feel free to walk­in or make an appointment today! </p>
            </div>
          </div>
        </li>
        <li>
           <div class="timeline-badge warning" style="font-size: 13px;">2014</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">IV Hair Company is born!</h4>
            </div>
            <div class="timeline-body">
                <p><img  src="/logo.jpg" class="img-responsive"></p>
              <p>On October 1st, 2014 he sold the salon to Katherine, a longtime stylist there who has 
renamed it to Isla Vista Hair Company. Since then, there have been many big changes 
here! Katherine has remodeled the space, brought in great new staff, and modernized the 
bookkeeping by adding an online appointment system.</p>
              <hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{{pathFor 'booking'}}">Booking</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">About Katherine</a></li>
                 
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge success" style="font-size: 13px;">2015</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Here to serve you!</h4>
            </div>
            <div class="timeline-body">
                 <p><img  src="/2015.jpg" class="img-responsive"></p>
              <p>There are a lot of changes and additions coming along 
with this new chapter, but the same great quality of service will always remain. The staff at IV Hair Co are excited about doing your hair! We are here to help you with all of your hair 
questions, requests, and concerns. Feel free to walk-in or make an appointment today!  </p>
            </div>
          </div>
        </li>
    </ul>
       
            </div>
        </div>
    </section>
</template>

