<template name="footer">
    <footer class="footer">
        <div class="container ">
            <small class="copyright pull-left">ivHAIR.co  <a href="http://themes.3rdwavemedia.com" target="_blank">ISLA VISTA HAIR COMPANY</a> <i class="fa fa-copyright"></i> 2015</small>
                <ul class="list-inline pull-right">
                    <li class="twitter-follow"><a href="https://twitter.com/ivhaircompany" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ivhaircompany</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-follow-->
                    <li class="twitter-tweet">
                    <a href="https://twitter.com/intent/tweet?button_hashtag=ivhairco" class="twitter-hashtag-button" data-size="large" data-related="JaulzLee">Tweet #ivhairco</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-tweet-->

                </ul>
        </div><!--//container-->
    </footer><!--//footer-->

</template>