<template name="header">
    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="{{pathFor 'home'}}">
                    <span class="logo-title">ivHAIRco</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a>{{>loginButtons}}</a></li>
                        <li class="active nav-item sr-only"><a >Home</a></li>
                        <li class="nav-item"><a href="{{pathFor 'aboutIv'}}">About</a></li>
                        <li class="nav-item"><a>Hair Services</a></li>
                        <li class="nav-item"><a href="{{pathFor 'booking'}}">Book Now</a></li>
                         <li class="nav-item"><a >Questions</a></li>
                              <li class="nav-item"><a >Contacts</a></li>                   
                        <li class="nav-item last"><a >  <div class="fb-like" data-href="https://www.facebook.com/IVHairCo?fref=ts" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header>
</template>