<template name="home">
    
   <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">iv<span class="highlight">HAIR</span>co</h2>
            <p class="intro">Booking an appointment is easy! Feel free to walk in, call the front desk at (805) 968-8952, or 
take advantage of our online booking system! </p>
            
            <div class="btns">
                <a class="btn btn-cta-secondary" href="" target="_blank">BOOK NOW</a>
                <a class="btn btn-cta-primary" href="" target="_blank"> WHAT WE DO </a>
            </div>
            <ul class="meta list-inline">
                <li><a href="#" target="_blank">WHAT WE DO</a></li>
                <li><a href="https://github.com/twbs/bootstrap" target="_blank">SUGGEST A STYLE</a></li>
                <li> <a href="http://themes.3rdwavemedia.com/" target="_blank">KATHERINE PEPE</a> <i class="fa fa-scissors"></i></li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
            <h1 style="color:#fff">GET YOUR HAIR DONE TODAY</h1>
            </div>
        </div>
    </section>
    {{> homeMid}}
    <hr>
      
            <h1 style="color:#11ce94;" class="text-center">YOUR HAIR IS IN FOR A TREAT</h1>

       <div class="pricing-section" style="padding-top:6px; padding-bottom:60px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                         
                            <p class="text-center" style="margin-bottom:20px;">The staff at IV Hair Co are excited about doing your hair! We are here to help you with all of your hair 
questions, requests, & concerns. Feel free to walk­in or make an appointment today! </p>
                        </div>
                    </div>
                    
             
                    </div>
                </div>

</template>
<template name="homeMid">
    <section class="about section">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-scissors"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Dedicated Stylists
</h4>
                    <p>Here at Isla Vista Hair Co., our stylists are dedicated to providing customized hair care to create your vision and ensure client satisfaction. At the end of your service, your stylist will also educate you on the right products you will need to recreate your new look at home.</p>
                   
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-phone"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Call us Today!</h4>
                    <p>You can reach our front desk at (805) 968-8952 and one of our friendly team members will be happy to assist you in setting up an appointment that works best for your schedule.</p>
                    
                </div>
            </div>
        </div>
        
	</div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-map-marker"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Heart of Isla Vista
</h4>
                    <p>IVHC is located in the heart of Isla Vista. Our highly trained staff uses advanced cutting 
techniques to customize your look with design and detail. We offer a full range of color 
services, including highlights, ombre, and balayage, as well as facial waxing and ear piercing 
services. Our goal is to make your experience exceptional. We look forward to your next visit! </p>
                   
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-share-alt"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Let’s get social!</h4>
                    <p> Connect with us on <a>Facebook</a>, or any social media and we will offer you a 
discount as a way to say thanks! Stay updated on product discounts and special deals as they 
come. Visit facebook.com/IVHairCo and hit the “Like” button! </p>
                  
                </div>
            </div>
        </div>
        
	</div>
</div>
    
    </section>
</template>
<template name="pricing">
       <div class="row pricing-tables">
                        
                        <div class="col-md-3 col-sm-3">
                            <div class="pricing-table">
							<div class="plan-name">
								<h3>Basic</h3>
							</div>
							<div class="plan-price">
								<div class="price-value">$49<span>.00</span></div>
								<div class="interval">per month</div>
							</div>
							<div class="plan-list">
								<ul>
									<li><strong>40 GB</strong> Storage</li>
									<li><strong>40GB</strong> Transfer</li>
									<li><strong>10</strong> Domains</li>
									<li><strong>20</strong> Projects</li>
									<li><strong>Free</strong> installation</li>
								</ul>
							</div>
							<div class="plan-signup">
								<a href="#" class="btn-system btn-small">Sign Up Now</a>
							</div>
						</div>
                        </div>
                        
						<div class="col-md-3 col-sm-3">
                            <div class="pricing-table highlight-plan">
							<div class="plan-name">
								<h3>Advanced</h3>
							</div>
							<div class="plan-price">
								<div class="price-value">$99<span>.00</span></div>
								<div class="interval">per month</div>
							</div>
							<div class="plan-list">
								<ul>
									<li><strong>40 GB</strong> Storage</li>
									<li><strong>40GB</strong> Transfer</li>
									<li><strong>10</strong> Domains</li>
									<li><strong>20</strong> Projects</li>
									<li><strong>Free</strong> installation</li>
								</ul>
							</div>
							<div class="plan-signup">
								<a href="#" class="btn-system btn-small border-btn">Sign Up Now</a>
							</div>
						</div>
                        </div>
                        
                        
                        <div class="col-md-3 col-sm-3">
                            <div class="pricing-table">
							<div class="plan-name">
								<h3>Professional</h3>
							</div>
							<div class="plan-price">
								<div class="price-value">$199<span>.00</span></div>
								<div class="interval">per month</div>
							</div>
							<div class="plan-list">
								<ul>
									<li><strong>40 GB</strong> Storage</li>
									<li><strong>40GB</strong> Transfer</li>
									<li><strong>10</strong> Domains</li>
									<li><strong>20</strong> Projects</li>
									<li><strong>Free</strong> installation</li>
								</ul>
							</div>
							<div class="plan-signup">
								<a href="#" class="btn-system btn-small">Sign Up Now</a>
							</div>
						</div>
                        </div>
                        
                        
                        <div class="col-md-3 col-sm-3">
                            <div class="pricing-table">
							<div class="plan-name">
								<h3>Extreme</h3>
							</div>
							<div class="plan-price">
								<div class="price-value">$299<span>.00</span></div>
								<div class="interval">per month</div>
							</div>
							<div class="plan-list">
								<ul>
									<li><strong>40 GB</strong> Storage</li>
									<li><strong>40GB</strong> Transfer</li>
									<li><strong>10</strong> Domains</li>
									<li><strong>20</strong> Projects</li>
									<li><strong>Free</strong> installation</li>
								</ul>
							</div>
							<div class="plan-signup">
								<a href="#" class="btn-system btn-small">Sign Up Now</a>
							</div>
						</div>
                        </div>
						
						
					</div>
</template>