<template name="booking">
   <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">free <span class="highlight">BOOKING</span></h2>
            <p class="intro">Anywhere, anytime. Booking an appointment is easy and convenient. You can always call us if you have any problems at (805) 968-8952. </p>
            
            <div class="btns">
                <a class="btn btn-cta-secondary" href="https://app.salonrunner.com/customer/home/ivhairco/index.htm" target="_blank"><i class="fa fa-pencil"></i> BOOK ONLINE</a>
               
            </div>
            <ul class="meta list-inline">
           <li><a href="" data-toggle="modal" data-target="#bookingPolicies"><i class="fa fa-book"></i> BOOKING POLICIES (PLEASE READ)</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
            <h1 style="color:#fff">WORDS FROM OUR FORMER CUSTOMERS</h1>
            </div>
        </div>
    </section>
    {{>testimonials}}
    <div id="bookingPolicies" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title text-center">OUR BOOKING POLICIES</h4>
      </div>
      <div class="modal-body">
          <p class="text-center"><img src="/logo.jpg" width="80" alt="ivhairco"></p>
          <p>We understand if you cannot make it to your appointment, we just ask for notice of your cancellation <strong>at least 15 minutes prior to your appointment</strong>, but preferably more.</p>
          <p>All No Shows will have access to online booking disabled. You will be required to call the salon to book and pre-pay your next appointment</p>
          <p>Customers who are over 10 minutes late to their appointment will not be seen unless it does not interfere with the next client.</p>
          <p>Our policies have been formed with our clients in mind. We are very busy during the school year and each pre-cancellation could be filled with clients on our waiting list or walk-ins.  

We thank you for respecting our policies in advance!</p>
          <p class="text-center"><a class="btn btn-success">BOOK NOW</a></p>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</template>
