<template name="booking">
   <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">free <span class="highlight">BOOKING</span></h2>
            <p class="intro">Anywhere, anytime. Booking an appointment is easy and convenient. You can always call us if you have any problems at (805) 968-8952. </p>
            
            <div class="btns">
                <a class="btn btn-cta-secondary" href="https://app.salonrunner.com/customer/home/ivhairco/index.htm" target="_blank"><i class="fa fa-pencil"></i> BOOK ONLINE</a>
               
            </div>
            <ul class="meta list-inline">
           <li><a href="" data-toggle="modal" data-target="#bookingPolicies"><i class="fa fa-book"></i> BOOKING POLICIES (PLEASE READ)</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
            <h1 style="color:#fff">WORDS FROM OUR FORMER CUSTOMERS</h1>
            </div>
        </div>
    </section>
    {{>testimonials}}

</template>
